$main-background = #2a2736
$dark-background = #24212f
$button          = #2f2c3e
$gray            = #737a94
$content         = #ffffff
$main            = #34efed
$orange          = #ef6c34
$max             = #52468a