@import './color.styl'

*
  box-sizing border-box

body
  margin 0
  font-size 16px
  font-family Roboto, Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  background-color $main-background
  color $content
ul
  margin 0
  padding 0
  list-style none
p
  margin 0

a
  color inherit
  text-decoration none

img
  image-rendering optimizeSpeed             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering -moz-crisp-edges          /* Firefox                        */
  image-rendering -o-crisp-edges            /* Opera                          */
  image-rendering -webkit-optimize-contrast /* Chrome (and eventually Safari) */
  image-rendering pixelated                 /* Chrome                         */
  image-rendering optimize-contrast         /* CSS3 Proposed                  */
  -ms-interpolation-mode nearest-neighbor   /* IE8+                           */

// div
//   background-color rgba(#fff, .05)

.voter-console
  margin auto
  padding 12px 20px 100px
  max-width 840px
  color $main
  .intro-con
    padding 24px
    height 145px
    position relative
    .title
      font-size 24px
      font-weight 600
      margin-bottom 10px
    img
      position absolute
      right 0
      bottom 0
    > b
      display block
      margin-top 10px
    .end
      margin-top 8px
      padding 0 8px
      height 24px
      font-size 12px
      line-height 24px
      display inline-block
      background-color $dark-background
      border-radius 4px
  .menu
    width 100%
    height 320px
    border-radius 10px
    background-color $dark-background
    display flex
    justify-content space-evenly

.egg
  width 240px
  height 100%
  display flex
  flex-direction column
  justify-content center
  align-items center
  hr
    margin 0
    border none
    height 6px
  .amount
    margin-top 20px
    font-size 18px
    font-weight 600
  .button
    margin-top 28px
    width 156px
    height 46px
    border-radius 4px
    border solid 1px
    border-color inherit
    font-size 14px
    font-weight 600
    cursor pointer
    display flex
    justify-content center
    align-items center
  .remarks
    font-size 12px
    max-width 160px
    text-align center
    word-break break-all

  .input-area
    margin-top 28px
    padding 6px 70px 4px 10px
    width 230px
    height 46px
    border-radius 4px
    background-color $button
    display flex
    align-items center
    overflow hidden
    position relative
    input
      padding 0
      width 100%
      font inherit
      font-size 14px
      font-weight 600
      color $content
      background-color transparent
      border none
      outline none
    > div
      padding 4px
      position absolute
      top 0
      bottom 0
      right 0
      display flex
      flex-direction column
      align-items flex-end
      justify-content center
      font-size 12px
    .balance
      color $gray
      margin-bottom 4px
    .max
      width 34px
      height 16px
      color $content
      background-color $max
      border-radius 2px
      display flex
      justify-content center
      align-items center
      cursor pointer
  .buttons
    margin-top 8px
    display grid
    grid-template-columns 110px 110px
    grid-gap 10px
    .button
      margin 0
      width 110px
      height 36px
    .button[sub]
      border none
      background-color $button

.egg[orange]
  color $orange
.egg[hide]
  position relative
  &:after
    content ''
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    background-color rgba($dark-background, .5)
