@import './color.styl'

*
  box-sizing border-box

body
  margin 0
  font-size 16px
  font-family Roboto, Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  background-color $main-background
  color $content
ul
  margin 0
  padding 0
  list-style none
p
  margin 0

a
  color inherit
  text-decoration none

img
  image-rendering optimizeSpeed             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering -moz-crisp-edges          /* Firefox                        */
  image-rendering -o-crisp-edges            /* Opera                          */
  image-rendering -webkit-optimize-contrast /* Chrome (and eventually Safari) */
  image-rendering pixelated                 /* Chrome                         */
  image-rendering optimize-contrast         /* CSS3 Proposed                  */
  -ms-interpolation-mode nearest-neighbor   /* IE8+                           */

// div
//   background-color rgba(#fff, .05)
